# Python
/venv/
*.pyc
__pycache__/

# Environment Variables
.env
.env.local
.env.*.local
!.env.example

# Project specific
urbit
results
cses
cses/*
*.db
*.db.bak
hoongpt.db*
extracted_text.txt
2410.03981

# IDE and System
.idea/
.vscode/
*.swp
*.swo
.DS_Store
